1er-corte/*
!1er-corte/1era-clase.md
!1er-corte/2da-clase.md
!1er-corte/3ra-clase.md
!1er-corte/4ta-clase.md
!1er-corte/5ta-clase.md

2do-corte/*
!2do-corte/clase-perfiles-moviimiento.md
!2do-corte/7ma-clase.md
!2do-corte/8va-clase.md
!2do-corte/9na-clase.md
!2do-corte/10ma-clase.md

