1er-corte/*
!1er-corte/1era-clase.md
!1er-corte/2da-clase.md
!1er-corte/3ra-clase.md
!1er-corte/4ta-clase.md
!1er-corte/5ta-clase.md

2do-corte/*
!2do-corte/clase-perfiles-moviimiento.md
!2do-corte/clase-diseño-trasmisión.md

3er-corte/*
!3er-corte/11va-clase.md